<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/plugins/css")
    @Styles.Render("~/layout/css")
</head>
<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">
    @Html.Partial("Header")
    <div class="page-container">
        @Html.Partial("SideMenu")

        <div class="page-content-wrapper">
            <div class="page-content">
                @Html.Partial("PageHeader")
                @RenderBody();
                @Html.Partial("Modal")
            </div>
        </div>
    </div>
    @Html.Partial("Footer")



    <div class="page-container">
       
        
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
