@using Auth.DAL;
@using Auth.DAL.ViewEntitys;
@{ 
    var curUser = Context.Session["CurrentUser"];
    var menuList = new List<MenuDto>();
    if(curUser != null && curUser is SysUser) 
    {
        menuList = (curUser as SysUser).CurrentMenu as List<MenuDto>;
    }
}


<div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
        <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
            @foreach(var item in menuList)
            {
                <li dir="@item.Id" class="nav-item open" onclick="FoldMenue(this)">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="@item.Icon"></i>
                        <span class="title">@item.Name</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        @if(item.ChildMenu != null && item.ChildMenu.Count() > 0)
                        {
                            foreach(var subItem in item.ChildMenu)
                            {
                                <li dir="@subItem.Id" class="nav-item">
                                    <a href="@subItem.Url?crumbId=@subItem.Id _@item.Id" class="nav-link">
                                        <i class="@subItem.Icon"></i>
                                        <span class="title">@subItem.Name</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </li>
            }
        </ul>
    </div>
</div>